<div class="container">
  <h1>All our Lists (<%= @lists.count %>)</h1>
  <div>
    <ul>
      <% @lists.each do |list| %>
        <li>
          <%= link_to list.name, list_path(list) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div>
    <%= link_to "New list", new_list_path %>
  </div>
</div>
