<div class="container">
  <h1>All our Lists (<%= @lists.count %>)</h1>
  <div>
    <% @lists.each do |list| %>
      <div class="card">
        <% link_name = "#{list.name} (#{list.bookmarks.count})"%>
        <%= link_to link_name, list_path(list) %>
      </div>
    <% end %>
  </div>
  <div class="mt-3">
    <%= link_to "New list", new_list_path, class: "btn btn-primary" %>
  </div>
</div>
